.root {
  display: flex;
}

.button {
  composes: smallText from '../styles/type.css';
  composes: lightGreyButton greenOnHover from '../styles/buttons.css';
  margin: 0 0 .5em 0;
  flex: 1 0 auto;
}

.fileInput {
  display: none;
}
