.root {
  composes: smallText from '../styles/type.css';
  composes: greyBackground from '../styles/colors.css';
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: .5em;
  margin: .5em 0 0 0;
}

.label {
  text-align: left;
  margin: .5em;
}

.select {
  composes: selectBase from '../styles/inputs.css';
  composes: smallText from '../styles/type.css';
  max-width: 100%;
}
