.root {
  display: flex;
  justify-content: center;
  margin: .4em 0 0 0;
  width: 100%;
  flex-wrap: wrap;
}

.choice {
  composes: hugeText from '../styles/type.css';
  composes: buttonBase blueOnHover from '../styles/buttons.css';
  color: white;
  background: black;
  border-radius: .5em;
  margin: 0 .4em .4em .4em;
}

.choice:hover {
  transform: scale(1.2);
}
