.root {
  composes: smallText monospacedType from '../styles/type.css';
  display: flex;
  padding: 1em;
  flex-direction: column;
  width: calc(100% - 120px - 2em);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 120px;
  padding: 0 1em;
}

.titleField {
  composes: bigText from '../styles/type.css';
  composes: inputBase from '../styles/inputs.css';
  border-bottom: 1px dashed rgb(198, 198, 198);
  margin: 0 .5em .5em 0;
}

.subsceneSelection {
  composes: lightGreyBackground from '../styles/colors.css';
  composes: selectBase from '../styles/inputs.css';
}

.deleteButton {
  composes: lightGreyButton redOnHover from '../styles/buttons.css';
}

.subscenes {
  display: flex;
  align-items: flex-end;
  overflow: auto;
  padding: 0 1em 0 1em;
}

.addSubsceneButton {
  composes: addButton from '../styles/buttons.css';
  margin: 0 0 .3em 0;
}

.subsceneButton {
  padding: 1em;
  margin: 0 .5em 0 0;
  cursor: pointer;
  border-radius: .5em .5em 0 0;
}

.selectedSubsceneButton {
  composes: subsceneButton;
  background-color: rgb(242, 242, 242);
}

.noSubscenes {
  composes: greyColor from '../styles/colors.css';
  composes: smallText monospacedType from '../styles/type.css';
  margin: 1em 1em 1em 0;
}
