.root {
  color: white;
  background: black;
  padding: 1em;
  cursor: pointer;
  user-select: none;
  border-radius: .5em;
  margin: .3em 0 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image {
  width: 100%;
}

.dialog {
  composes: hugeText monospacedType from '../styles/type.css';
}

.hiddenCharacter {
  opacity: 0;
  transform: scale(0.1) rotate(45deg);
}

.visibleCharacter {
  opacity: 1;
  transition: 200ms all;
}
