.root {
  flex: 1 0 auto;
  background-color: rgb(242, 242, 242);
  padding: 1em;
}

.dialogChoice {
  display: flex;
  width: 40em;
}

.radioInput {
  display: none;
}

.controls {
  flex: 0 0 auto;
}

.radioInput:checked+label {
  color: rgb(45, 161, 204);
  background-color: rgb(189, 219, 254);
}

.dialogChoiceLabel {
  flex: 1 0 auto;
  text-align: center;
  display: inline-block;
  color: rgb(116, 116, 116);
  background-color: rgb(191, 191, 191);
  padding: .5em;
  cursor: pointer;
  transition: all 150ms;
}

.deleteButton {
  composes: greyButton redOnHover from '../styles/buttons.css';
}
