.root {
  composes: lightGreyBackground from '../styles/colors.css';
  display: flex;
  padding: .5em;
  flex-wrap: wrap;
  width: calc(100px + .5em);
  overflow: auto;
  flex: 1 1 auto;
  -webkit-overflow-scrolling: touch;
}

.palette {
  composes: buttonBehaviour from '../styles/buttons.css';
  width: 50px;
  height: 50px;
  margin: 0 .5em .5em 0;
  flex: 0 0 auto;
  background-size: cover;
  transition: all 50ms;
}

.palette:nth-child(even) {
  margin: 0 0 .5em 0;
}

.selectedPalette {
  composes: palette;
  transform: scale(1.1) rotate(3deg);
  position: relative;
  top: -2px; left: -2px;
  box-shadow: 2px 2px 0 rgb(39, 47, 57);
}

.palette:hover {
  transform: scale(1.1) rotate(-4deg);
  box-shadow: -2px 2px 0 rgb(39, 47, 57);
  position: relative;
  top: -2px; left: 2px;
}
