.map {
  border-spacing: 0;
}

.root {
  padding: 2em;
}

.table, .table tr, .table td {
  margin: 0;
  border-spacing: 0;
  padding: 0;
}

.addButton {
  color: rgb(144, 144, 144);
  background-color: rgb(236, 236, 236);
  font-size: 2em;
  border: none;
  width: 100%;
  min-width: 50px;
  height: 100%;
  min-height: 50px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  transition: all 100ms;
}

.addButton:hover {
  color: rgb(25, 133, 84);
  background-color: rgb(115, 222, 168);
}

.addButton:focus {
  outline: 0;
}
