.root {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  width: 100%;
}

.sceneSelect {
  composes: lightGreyBackground from '../styles/colors.css';
  display: flex;
  flex-direction: column;
  width: 120px;
  align-items: flex-end;
}

.viewpoint {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-color: blue;
  display: flex;
  align-items: flex-start;
  margin: 0 0 1em 0;
}

.titleCoord {
  composes: smallText monospacedType from '../styles/type.css';
  display: inline-block;
  padding: .4em .55em;
  text-align: center;
  vertical-align: middle;
}

.xCoord {
  composes: titleCoord;
  composes: blueBackground from '../styles/colors.css';
  color: rgb(191, 242, 255);
}

.yCoord {
  composes: titleCoord;
  composes: redBackground from '../styles/colors.css';
  color: rgb(255, 203, 203);
}

.createSceneButton {
  composes: addButton from '../styles/buttons.css';
  flex: 0 0 auto;
  margin: 0 .3em .3em 0;
}

.deleteViewpointButton {
  composes: greyButton redOnHover from '../styles/buttons.css';
  margin: auto 0 0 0;
}

.sceneButton {
  composes: bigText monospacedType from '../styles/type.css';
  text-align: right;
  border-radius: .5em 0 0 .5em;
  padding: .5em;
  background-color: rgb(228, 228, 228);
  margin: 0 0 1em 1em;
  cursor: pointer;
  transition: 100ms all;
  max-width: calc(100% - 2em);
}

.selectedSceneButton {
  composes: sceneButton;
  background-color: white;
}

.closeButton {
  composes: redButton from '../styles/buttons.css';
  width: 4em;
  height: 4em;
  position: absolute;
  top: 0; right: 0;
}

.noScenes {
  composes: greyColor from '../styles/colors.css';
  composes: smallText monospacedType from '../styles/type.css';
  margin: 0 .7em 1em 0;
}
