.root {
  background: rgb(221, 221, 221);
  position: fixed;
  right: 0; top: 0;
  padding: .5em;
  z-index: 10000;
}

.slider {
  width: 2em;
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}
