.root {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  width: 100%;
}

.sceneSelect {
  display: flex;
  flex-direction: column;
  width: 120px;
  align-items: flex-end;
  background-color: rgb(242, 242, 242);
}

.viewpoint {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-color: blue;
  display: flex;
  align-items: flex-start;
  margin: 0 0 1em 0;
}

.titleCoord {
  font-family: monospace;
  display: inline-block;
  padding: .4em .55em;
  text-align: center;
  vertical-align: middle;
}

.xCoord {
  composes: titleCoord;
  color: rgb(191, 242, 255);
  background-color: rgb(85, 163, 244);
}

.yCoord {
  composes: titleCoord;
  color: rgb(255, 203, 203);
  background-color: rgb(236, 96, 96);
}

.button {
  font-size: .9em;
  color: rgb(255, 255, 255);
  background-color: rgb(209, 209, 209);
  border: none;
  transition: all 100ms;
  cursor: pointer;
  margin: 0 0 1em 0;
}

.createSceneButton {
  composes: button;
}

.createSceneButton:hover {
  color: rgb(187, 255, 214);
  background-color: rgb(2, 164, 72);
}

.createSceneButton:focus, .deleteViewpointButton:focus {
  outline: none;
}

.deleteViewpointButton {
  composes: button;
  margin: auto 0 0 0;
}

.deleteViewpointButton:hover {
  color: rgb(255, 215, 193);
  background-color: rgb(255, 73, 73);
}

.sceneButton {
  padding: .5em;
  background-color: rgb(228, 228, 228);
  margin: 0 0 1em 1em;
  cursor: pointer;
}

.selectedSceneButton {
  composes: sceneButton;
  background-color: white;
}

.closeButton {
  width: 4em;
  height: 4em;
  color: rgb(255, 183, 173);
  background: rgb(238, 92, 52);
  border: none;
  position: absolute;
  top: 0; right: 0;
  font-family: monospace;
}
